<!DOCTYPE html>
<html lang="en">
  <%- include('./head.ejs', {title: 'Admin' }); %>
  <body>
    <div class="container mt-5">
      <ul>
        <li><a href="/user">Quản lí người dùng</a></li>
        <li><a href="/singer">Quản lí ca sĩ</a></li>
        <li><a href="/album">Quản lí album</a></li>
        <li><a href="/music-type">Quản lí thể loại</a></li>
        <li><a href="/manage-music">Quản lí nhạc</a></li>
      </ul>
    </div>
  </body>
</html>
