<!DOCTYPE html>
<html lang="en">
  <%- include('./head.ejs', {title: 'Admin - music type' }); %>
  <body>
    <div class="container">
      <a href="/">Trang chủ</a>
      <h1>Danh sách thể loại</h1>
      <div class="mt-5 mb-5">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#addModal"
        >
          Thêm thể loại
        </button>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="content"></tbody>
      </table>

      <!-- Modal -->
      <div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Thêm thể loại</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <p id="msg" class="ml-2"></p>
            <div class="modal-body">
              <label>Name</label>
              <input id="name" class="form-control" />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary" id="submit">
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      const contentEl = $("#content");
      const onDelete = async (id, cb) => {
        try {
          await $.ajax({
            url: `/music-type/delete/${id}`,
            method: "DELETE",
          });
        } catch (err) {
          window.alert(err.responseJSON.message);
        }
        await fetchData();
      };
      const fetchData = async () => {
        const response = await $.ajax({
          url: "/music-type/list",
          type: "GET",
        });

        const singerEls = response.data
          .map(
            (singer) => `<tr>
              <td>${singer.id}</td>
              <td>${singer.name}</td>
              <td>
                <button class="btn btn-danger" onclick="onDelete(${singer.id})">delete</button>
              </td>
            </tr>`
          )
          .join("");

        contentEl.html(singerEls);
      };
      $(function () {
        fetchData();
        $("#submit").click(async function () {
          const name = $("#name").val();

          if (!name) {
            alert("Nhập đủ hết cho bố m =)))");
            return;
          }

          try {
            const res = await $.ajax({
              url: "/music-type/create",
              type: "POST",
              data: {
                name,
              },
            });
            await fetchData();
            $("#msg").text("uploaded !");
          } catch (err) {
            $("#msg").text(err.responseJSON.message || "ngu");
          }
        });
      });
    </script>
  </body>
</html>
